name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [ main ]

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Make documentation
        id: deployment
        uses: sphinx-notes/pages@v3
        with:
          python_version: 3.12
