name: Unit Tests

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.6
      - name: Set up python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: 3.12
      - name: Install Poetry
        uses: snok/install-poetry@v1.4.0
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4.0.2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install project
        run: poetry install --no-interaction --with test
      - name: Run tests
        run: poetry run pytest --cov=./ --cov-branch --cov-report=xml
      - name: Upload coverage
        uses: codecov/codecov-action@v4.4.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          fail_ci_if_error: true
